/* style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Asap', sans-serif;
}
h2{
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    padding-top: 60px;
}
.coming-soon{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    top: 30%;
}
.countdown{
    display: flex;
    justify-content: space-around;
    padding: 50px 0px;
    text-align: center;
}
.day,.hour,.min,.sec{
    font-size: 3rem;
    padding-bottom: 10px;
}
#example{
    height: 50vh;
}
/*!style*/